
<div class="container">
    <h2>INVINCIBLE</h2>
    <p>Innovation is better than experience</p>
    <br>
    <div class="team">
        
        <div class="team-member">
            <div class="image-container">
                <img src="/assets/img/person/Rakesh1.jpg" alt="Smith">
            </div>
            <h1>RAKESH L</h1>
            <p class="designation">Full Stack Developer</p>
            <hr>
            <p>Associate Software Engineer</p>
        </div>
        <div class="team-member">
            <div class="image-container">
                <img src="/assets/img/person/Anand.jpg" alt="John">
            </div>
            <h1>ANAND V</h1>
            <p class="designation">Full Stack Developer</p>
            <hr>
            <p>Associate Software Engineer</p>
        </div>
        <div class="team-member">
            <div class="image-container">
                <img src="/assets/img/person/shrunga1.jpg" alt="Jeffy">
            </div>
            <h1>SHRUNGA GR</h1>
            <p class="designation">Full Stack Developer</p>
            <hr>
            <p>Associate Software Engineer</p>
        </div>
        <div class="team-member">
            <div class="image-container">
                <img src="/assets/img/person/yogesh.jpg" alt="Peter">
            </div>
            <h1>YOGESH B</h1>
            <p class="designation">Full Stack Developer</p>
            <hr>
            <p>Associate Software Engineer</p>
        </div>
        
    </div>
</div>
<br>
<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="/assets/img/hexa/logo1.png" width="70" class="">
    <img src="/assets/img/hexa/logonameblack.svg" width="150" class="">
</div>