<div class="main-content">
    <div class="container-fluid">

        <div class="" style="background-color: #ecf2ff; border-radius: 10px; ">
            <div class="row">
                <div class="col-sm-9" style=" padding: 30px;">
                    <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16"
                        style="margin: 0 !important; margin-bottom: 40px; font-weight: bold; font-family: Plus Jakarta Sans, sans-serif; font-size: 20px !important;">
                        Interview Details</h4>
                    <div class="d-flex align-items-top overflow-hidden" style="margin-top: 20px; color: #626263;">
                        Interview details here</div>
                </div>
                <div class="col-sm-3 text-right position-relative">
                    <div class="breadcrumb-icon" style="overflow: hidden; margin-left: 20px;">
                        <img src="assets/img/card/ChatBc.png" alt="breadcrumb" width="210"
                            style="margin-bottom: -75px;">
                    </div>
                </div>
            </div>
        </div>
        <br>


        <div class="card mb-4" style="border-radius: 10px; font-size: Plus Jakarta Sans, sans-serif;">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 text-right" style="margin-top: -10px;">
                        <div class="form-group" style="max-width: 100%; ">
                            <select id="employmentType" class="form-control custom-input" [(ngModel)]="StatusValue"
                                (focus)="onStatusFocus()" (blur)="onStatusBlur()" style="height: 50px;">
                                <option value="scheduled">scheduled</option>
                                <option value="completed">completed</option>
                                <option value="cancelled">cancelled</option>

                            </select>
                            <label for="customInput" [ngClass]="{'active': isStatusFocused || StatusValue}">Sort By
                                Status</label>
                            <span class="outline"></span>
                        </div>
                    </div>
                </div>
                <mat-card>
                    <mat-card-content>
                        <div class="table-container">
                            <ng-container>
                                <div class="table-section">
                                    <table mat-table multitemplatedatarows
                                        class="mat-mdc-table mdc-data-table__table cdk-table" role="table">
                                        <thead role="rowgroup">
                                            <tr role="row" mat-header-row
                                                class="mat-mdc-header-row mdc-data-table__header-row cdk-header-row">
                                                <th mat-header-cell> Id </th>
                                                <th mat-header-cell> Applicant Name </th>
                                                <th mat-header-cell> Interview Type </th>
                                                <th mat-header-cell> Status </th>
                                                <th mat-header-cell> Interview Date </th>
                                                <th mat-header-cell> Actions </th>
                                            </tr>
                                        </thead>
                                        <tbody role="rowgroup" class="mdc-data-table__content"
                                            *ngFor="let interview of interviews; let i = index">
                                            <tr role="row" mat-row class="mat-mdc-row mdc-data-table__row cdk-row">
                                                <td mat-cell> {{interview.interview_id}} </td>
                                                <td mat-cell> {{interview.applicant_first_name}} </td>
                                                <td mat-cell> {{interview.type}} </td>
                                                <td mat-cell>
                                                    <span [ngClass]="{
                                                        'status-submitted': interview.status === 'scheduled',
                                                        'status-interviewing': interview.status === 'completed',
                                                        'status-rejected': interview.status === 'cancelled',
                                                        
                                                    }" class="text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                        {{ interview.status }}
                                                    </span>
                                                </td>
                                                <td mat-cell> {{interview.schedule_date}} </td>
                                                <!-- <td mat-cell> {{interview.interview_id}} </td> -->


                                                <td mat-cell>
                                                    <button mat-button color="primary"
                                                        style="height: 30px; margin-bottom: 10px; background-color: #44b7f7; color: white; padding: 8px; border-radius: 7px; margin-right: 10px;"
                                                        (click)="openInterviewModal(interview)">
                                                        View
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </ng-container>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div id="applicantModal" class="modal" style="display: none;">
            <div class="modal-content" style="display: flex;"> <!-- Use flex to allow side-by-side layout -->
                <div style="flex: 1; padding: 20px;"> <!-- Main content area -->
                    <div style="background-color: #ecf2ff; border-radius: 10px;">
                        <div class="row">
                            <div class="col-sm-9" style="padding: 30px;">
                                <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16"
                                    style="margin: 0 !important; margin-bottom: 40px; font-weight: bold; font-family: Plus Jakarta Sans, sans-serif; font-size: 20px !important;">
                                    Interview Information</h4>

                                <div class="d-flex align-items-top overflow-hidden"
                                    style="margin-top: 20px; color: #626263;">
                                    Applicant interview details
                                </div>
                            </div>
                            <div class="col-sm-3 text-right position-relative">
                                <div class="breadcrumb-icon" style="overflow: hidden; margin-left: 20px;">
                                    <img src="assets/img/card/ChatBc.png" alt="breadcrumb" width="210"
                                        style="margin-bottom: -75px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <span class="close-button" (click)="closeApplicantModal()">&times;</span>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <h4>Applicant Information</h4> -->
                            <div class="p-16 bg-light-primary rounded">
                                <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                                    style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 6px; font-size: large;">
                                    <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"
                                        _nghost-ng-c2605515766=""><svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                            <path d="M12 9h.01"></path>
                                            <path d="M11 12h1v4h1"></path>
                                        </svg>


                                    </i-tabler>Applicant Information
                                </h5>
                            </div>
                            <br>
                            <p><strong>Applicant Name:</strong> {{ selectedInterview?.applicant_first_name }}</p>
                            <p><strong>Email:</strong> {{ selectedInterview?.applicant_email }}</p>
                            <p><strong>Phone Number:</strong> {{ selectedInterview?.applicant_phone }}</p>

                            <!-- Job Information Section -->
                            <div class="p-16 bg-light-primary rounded">
                                <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                                    style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 6px; font-size: large;">
                                    <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"
                                        _nghost-ng-c2605515766=""><svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                            <path d="M12 9h.01"></path>
                                            <path d="M11 12h1v4h1"></path>
                                        </svg>


                                    </i-tabler>Job Information
                                </h5>
                            </div>
                            <br>
                            <p><strong>Job Title:</strong> {{ selectedInterview?.job_title }}</p>
                            <p><strong>Department:</strong> {{ selectedInterview?.job_department }}</p>
                            <p><strong>Location:</strong> {{ selectedInterview?.job_location }}</p>

                            <div class="p-16 bg-light-primary rounded">
                                <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                                    style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 6px; font-size: large;">
                                    <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"
                                        _nghost-ng-c2605515766=""><svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                            <path d="M12 9h.01"></path>
                                            <path d="M11 12h1v4h1"></path>
                                        </svg>


                                    </i-tabler>Interview Information
                                </h5>
                            </div>
                            <br>
                            <p><strong>Interview Date:</strong> {{ interviewDate }}</p>
                            <p><strong>Interview Time:</strong> {{ interviewTime }}</p>
                            <p><strong>Interview Mode:</strong> {{ selectedInterview?.interviewMode }}</p>
                            <p><strong>Interview Location:</strong> {{ selectedInterview?.interviewLocation }}</p>
                            <p><strong>Interviewer:</strong> {{ selectedInterview?.interviewer_full_name }}</p>

                            <!-- Application Status Section -->

                            <br>
                            <div class="text-center ">
                                <button mat-button color="warn" (click)="onRescheduleInterview()"
                                    style=" background-color: #13deb9!important; color: white; padding: 8px; border-radius: 7px; margin-right: 10px; width: 100%;">
                                    Reschedule Interview
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="flex: 0 0 40%; margin-left: 20px;"> <!-- Fixed width for resume display -->
                                <div class="p-16 bg-light-primary rounded">
                                    <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                                        style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 6px; font-size: large;">
                                        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"
                                            _nghost-ng-c2605515766=""><svg xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                                <path d="M12 9h.01"></path>
                                                <path d="M11 12h1v4h1"></path>
                                            </svg>


                                        </i-tabler>Feedback
                                    </h5>
                                </div>
                                <br>
                                <div class="row">
                                    <p><strong>Feedback:</strong> {{ selectedInterviewFeedback.feedback }}</p>

                                    <div class="col-md-6">
                                        <!-- <pre style="margin-left: 10px; font-size: large; margin-top: 5px;"> -->
                                            <p><strong>Communication:</strong> {{ selectedInterviewFeedback.communication }}</p>
                                            <!-- </pre> -->
                                    </div>
                                    <div class="col-md-6">
                                        <span *ngFor="let star of stars; let i = index">
                                            <span 
                                                  (mouseenter)="isHalfClickedState(i + 1, $event, 'communication')">
                                                <ng-container [ngSwitch]="getStarType(i, 'communication')">
                                                    <ng-container *ngSwitchCase="'full'">
                                                        <svg viewBox="0 0 24 24" style="fill: #ff902b; width: 30px; height: 30px;">
                                                            <path
                                                                d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.77 5.82 22 7 14.14 2 9.27l6.91-1.01z"/>
                                                        </svg>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'half'">
                                                        <svg viewBox="0 0 24 24" style="fill: #ff902b; width: 30px; height: 30px;">
                                                            <clipPath id="clip-half">
                                                                <rect x="0" y="0" width="12" height="24"/>
                                                            </clipPath>
                                                            <path
                                                                d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.77 5.82 22 7 14.14 2 9.27l6.91-1.01z"
                                                                style="clip-path: url(#clip-half);"/>
                                                        </svg>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'empty'">
                                                        <svg viewBox="0 0 24 24" style="fill: gray; width: 30px; height: 30px;">
                                                            <path
                                                                d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.77 5.82 22 7 14.14 2 9.27l6.91-1.01z"/>
                                                        </svg>
                                                    </ng-container>
                                                </ng-container>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                
                                <!-- Repeat for Technical Skills and Candidate Enthusiasm -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <pre > -->
                                            <p><strong>Technical Skills:</strong> {{ selectedInterviewFeedback.technicalSkills }}</p>
                                            <!-- </pre> -->
                                    </div>
                                    <div class="col-md-6">
                                        <span *ngFor="let star of stars; let i = index">
                                            <span 
                                                  (mouseenter)="isHalfClickedState(i + 1, $event, 'technicalSkills')">
                                                <ng-container [ngSwitch]="getStarType(i, 'technicalSkills')">
                                                    <ng-container *ngSwitchCase="'full'">
                                                        <svg viewBox="0 0 24 24" style="fill: #ff902b; width: 30px; height: 30px;">
                                                            <path
                                                                d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.77 5.82 22 7 14.14 2 9.27l6.91-1.01z"/>
                                                        </svg>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'half'">
                                                        <svg viewBox="0 0 24 24" style="fill: #ff902b; width: 30px; height: 30px;">
                                                            <clipPath id="clip-half">
                                                                <rect x="0" y="0" width="12" height="24"/>
                                                            </clipPath>
                                                            <path
                                                                d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.77 5.82 22 7 14.14 2 9.27l6.91-1.01z"
                                                                style="clip-path: url(#clip-half);"/>
                                                        </svg>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'empty'">
                                                        <svg viewBox="0 0 24 24" style="fill: gray; width: 30px; height: 30px;">
                                                            <path
                                                                d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.77 5.82 22 7 14.14 2 9.27l6.91-1.01z"/>
                                                        </svg>
                                                    </ng-container>
                                                </ng-container>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <pre style="margin-left: 10px; font-size: large; margin-top: 5px;"> -->
                                            <p><strong>Candidate Enthusiasm:</strong> {{ selectedInterviewFeedback.candidateEnthusiasm }}</p>
                                            <!-- </pre> -->
                                    </div>
                                    <div class="col-md-6">
                                        <span *ngFor="let star of stars; let i = index">
                                            <span 
                                                  (mouseenter)="isHalfClickedState(i + 1, $event, 'candidateEnthusiasm')">
                                                <ng-container [ngSwitch]="getStarType(i, 'candidateEnthusiasm')">
                                                    <ng-container *ngSwitchCase="'full'">
                                                        <svg viewBox="0 0 24 24" style="fill: #ff902b; width: 30px; height: 30px;">
                                                            <path
                                                                d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.77 5.82 22 7 14.14 2 9.27l6.91-1.01z"/>
                                                        </svg>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'half'">
                                                        <svg viewBox="0 0 24 24" style="fill: #ff902b; width: 30px; height: 30px;">
                                                            <clipPath id="clip-half">
                                                                <rect x="0" y="0" width="12" height="24"/>
                                                            </clipPath>
                                                            <path
                                                                d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.77 5.82 22 7 14.14 2 9.27l6.91-1.01z"
                                                                style="clip-path: url(#clip-half);"/>
                                                        </svg>
                                                    </ng-container>
                                                    <ng-container *ngSwitchCase="'empty'">
                                                        <svg viewBox="0 0 24 24" style="fill: gray; width: 30px; height: 30px;">
                                                            <path
                                                                d="M12 2l3.09 6.26L22 9.27l-5 4.87L18.18 22 12 18.77 5.82 22 7 14.14 2 9.27l6.91-1.01z"/>
                                                        </svg>
                                                    </ng-container>
                                                </ng-container>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                

                                <div class="p-16 bg-light-primary rounded">
                                    <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                                        style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 6px; font-size: large;">
                                        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"
                                            _nghost-ng-c2605515766=""><svg xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                                <path d="M12 9h.01"></path>
                                                <path d="M11 12h1v4h1"></path>
                                            </svg>


                                        </i-tabler>Resume
                                    </h5>
                                </div>
                                <br>

                                <iframe [src]="resumePath" width="100%" height="500px"
                                    style="border: 1px solid #ccc;"></iframe>
                                <!-- Alternative Method: Use [src]="safeResumeUrl(resumePath)" if using HttpClient with Angular for security -->
                                <!-- <embed [src]="resumePath" type="application/pdf" width="100%" height="500px" /> -->
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div id="rescheduleModel" class="modal" style="display: none; justify-content: center; align-items: center;">
            <div class="modal-content" style="margin: auto; width: 600px;">
                <!-- Use flex to allow side-by-side layout -->
                <div style="flex: 1; padding: 20px;"> <!-- Main content area -->
                    <span class="close-button" (click)="closeRescheduleModal()">&times;</span>
                    <div class="p-16 bg-light-primary rounded">
                        <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                            style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 6px; font-size: large;">
                            <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex" _nghost-ng-c2605515766=""><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                    <path d="M12 9h.01"></path>
                                    <path d="M11 12h1v4h1"></path>
                                </svg>


                            </i-tabler>Reschedule Interview
                        </h5>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" style="margin-top: 5px;">
                                <input type="date" class="form-control custom-input" id="interviewDate" #customInput
                                    (focus)="onDateFocus()" (blur)="onDateBlur()"
                                    [placeholder]="isDateFocused ? '' : ''" [(ngModel)]="DateValue" required />
                                <label for="interviewDate" [ngClass]="{'active': isDateFocused || DateValue}">Interview
                                    Date</label>
                                <span class="outline"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="margin-top: 5px;">
                                <input type="time" class="form-control custom-input" id="interviewTime" #customInput
                                    (focus)="onTimeFocus()" (blur)="onTimeBlur()"
                                    [placeholder]="isTimeFocused ? '' : ''" [(ngModel)]="TimeValue" required />
                                <label for="interviewTime" [ngClass]="{'active': isTimeFocused || TimeValue}">Interview
                                    Time</label>
                                <span class="outline"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button mat-button color="warn" (click)="onReschedule(selectedInterview?.interview_id)"
                            style="background-color: #13deb9!important; color: white; padding: 8px; border-radius: 7px; margin-right: 10px; width: 100%;">
                            Reschedule
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div *ngIf="successMessage" class="error-message" style="margin-top: 50px;">
    <span>{{ successMessage }}</span>
    <button (click)="dismissError()">X</button>
</div>