<section>
    <div class="banner">
        <img src="../../assets/img/hexa/Banner.jpg" alt="Banner Image" class="banner-image" />
        <div class="text-overlay">Find Your Dream Job</div>
    </div>
</section>
<section>
    <div class="app-job-search">
        <app-job-search></app-job-search>
    </div>
</section>
<br />

<section class="mb-5">
    <div class="all-job-container">
        <a class="all-jobs-link" routerLink="/candidateLayout/jobList">
            <span class="all-jobs">All Jobs</span>
            <span class="all-jobs-count">({{ count }})</span>
        </a>
    </div>
    <app-demo></app-demo>
    <app-footer></app-footer>
</section>