<div class="g-0">
  

  <main>
    <app-sidebar
    [sideNavStatus]="sideNavStatus"
    [ngClass]="{'app-side-nav-open': sideNavStatus}"
    class="black-border"
    (mouseenter)="onMouseEnterSidebar()"
    (mouseleave)="onMouseLeaveSidebar()"
  >
    <div class="sidebar-content"></div>
  </app-sidebar>
    <app-navbar
      [ngClass]="{'navbar-shrink': menuLocked && sideNavStatus}" 
      (sideNavToggled)="toggleSidebar()"
    ></app-navbar>

    <div class="display-area p-3" [ngClass]="{'display-area-shrink': menuLocked && sideNavStatus}">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
