/* src/styles.css */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */



app-navbar {
    position: fixed;
    width: calc(100% - 80px); /* Adjust this depending on the initial width of your sidebar */
    top: 0;
    /* left: 0; */
    height: 4rem;
    z-index: 1;
    margin-left: 80px; /* Initial margin for sidebar */
    transition: margin-left 250ms ease-in;
}

.navbar-shrink {
    margin-left: 250px; /* Adjust to the width of the expanded sidebar */
    width: calc(100% - 250px);
}

main {
    position: absolute;
    width: 100%;
    /* top: 3rem; */
    z-index: 1;
}

 /* .nav-list-open {
    opacity: 1; 
  }
  
  .nav-list:not(.nav-list-open) {
    display: none; 
  }

  .g-0 {
    display: flex;
} */
app-sidebar {
    position: fixed;
    left: 0rem;
    width: 80px;
    height: 100%;
    /* box-shadow: 0px 0px 10px black; */
    background-color: white;
    border-top:1px solid white ;
    overflow: hidden;
    border-right: 1px solid rgb(218, 218, 218); /* Optional: Add a right border */
    white-space: nowrap;
    transition: width 250ms ease-in;
    background: rgb(255, 255, 255); 
    z-index: 2; 
    /* background-image: url('../assets/img/faces/sidebar-1.jpg'); */
    /* background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(255, 255, 255);
    filter: brightness(70%) grayscale(100%)  ;
    opacity: 0.1; */
    
    
}
.app-side-nav-open {
    width: 250px;
    /* background-image: url('../assets/img/faces/sidebar-1.jpg');
    opacity: 0.1; */
    z-index: 2;
}
.display-area {
    position: relative;
    top: 50px;
    left: 80px;
    width: calc(100% - 80px);
    transition: left 250ms ease-in, width 250ms ease-in;
    /* z-index: 3; */
}

.display-area-shrink {
    width: calc(100% - 250px);
    left: 250px;

}



