<!-- <app-theme-toggle></app-theme-toggle>"" -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="" style="background-color: #ecf2ff; border-radius: 10px; height: 40%;">
            <div class="row">
                <div class="col-sm-9" style=" padding: 30px;">
                    <h2 class="page-title m-0 f-s-20 f-w-600 m-b-16"
                        style="margin: 0 !important; margin-bottom: 40px; font-weight: bold; font-family: Plus Jakarta Sans, sans-serif; font-size: 25px !important;">
                        Welcome back name</h2>
                    <div class="d-flex align-items-top overflow-hidden" style="margin-top: 20px; color: #626263;">
                        Generate Your Skillset</div>
                    <br>
                    <button mat-button color="primary"
                        style="background-color: #5d87ff; color: white; padding: 4px; border-radius: 7px; margin-right: 10px;">
                        View
                    </button>
                </div>
                <div class="col-sm-3 text-right position-relative">
                    <div class="breadcrumb-icon" style="overflow: hidden; ">
                        <img src="assets/img/card/welcome-bg2.png" alt="breadcrumb" width="240" height="210"
                            style="margin-bottom: -45px; margin-top: 10%; ">
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-primary shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-user-male.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-primary">Applications</h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-primary">3,685</h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-warning shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-briefcase.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-warning">Jobs</h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-warning">256</h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-accent shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-mailbox.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-accent" style="color: #49beff!important;">Updates
                        </h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-accent" style="color: #49beff!important;">2
                        </h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-error shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-favorites.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-error" style="color: #fa896b!important">Email</h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-error" style="color: #fa896b!important">$348K
                        </h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-success shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle"
                            src="/assets/img/icon/icon-speech-bubble.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-success">Interviewing</h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-success">96</h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-accent shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-connect.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-accent" style="color: #49beff!important;">Contacts
                        </h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-accent" style="color: #49beff!important;">48
                        </h4>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>



        <div class="row mt-4">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px; ">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="col-md-4">
                            <!-- <h6>Recent Applications</h6> -->
                            <mat-card-title class="mat-mdc-card-title"
                                style="text-align: left; margin-left: 20px; font-weight: 550;">Recent
                                Applications</mat-card-title>
                        </div>
                        <div class="col-md-4 text-right" style="margin-top: 10px; margin-bottom: -20px;">
                            <div class="form-group" style="max-width: 100%; ">
                                <select id="employmentType" class="form-control custom-input" [(ngModel)]="StatusValue"
                                    (focus)="onStatusFocus()" (blur)="onStatusBlur()" style="height: 50px;">
                                    <option value="scheduled">scheduled</option>
                                    <option value="completed">completed</option>
                                    <option value="cancelled">cancelled</option>

                                </select>
                                <label for="customInput" [ngClass]="{'active': isStatusFocused || StatusValue}">Sort By
                                    Status</label>
                                <span class="outline"></span>
                            </div>
                        </div>
                    </div>
                    <mat-card>
                        <mat-card-content>
                            <div class="table-container">
                                <ng-container>
                                    <div class="table-section">
                                        <table role="table">
                                            <thead role="rowgroup">
                                                <tr role="row">
                                                    <th mat-header-cell class="font-light">Applicant</th>
                                                    <th mat-header-cell class="font-light">Job Title</th>
                                                    <th mat-header-cell class="font-light">Status</th>
                                                    <th mat-header-cell class="font-light">Date Applied</th>
                                                    <th mat-header-cell class="font-light">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody role="rowgroup">
                                                <tr role="row" mat-row class="values">
                                                    <td mat-cell>
                                                        <div class="applicant-info d-flex align-items-center">
                                                            <img src="assets/img/faces/user-1.jpg" alt="Applicant Image"
                                                                width="40" class="rounded-circle mr-2"
                                                                style="margin-right: 10px; margin-top: -5px;">

                                                            <span class="applicant-name">Yashas B Raj</span>
                                                        </div>
                                                    </td>
                                                    <td mat-cell>Software Engineer</td>
                                                    <td mat-cell>Submitted</td>
                                                    <td mat-cell>
                                                        <span mat-header-cell class="text-accent">10/01/1999</span>
                                                    </td>
                                                    <td mat-cell>
                                                        <button mat-button color="primary"
                                                            style="height: 30px; margin-bottom: 10px; background-color: #44b7f7; color: white; padding: 8px; border-radius: 7px; margin-right: 10px;">
                                                            View
                                                        </button>
                                                    </td>
                                                </tr>
                                                <!-- Add more rows as needed -->
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-card>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">


                    <div id="chart">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                            [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"></apx-chart>
                    </div>
                    <div class="chart-values" style="margin-top: -50px; text-align: left; padding-left: 10px;">
                        <div *ngFor="let label of chartOptions.labels; let i = index"
                            style="display: flex; align-items: center; margin: 5px 0;">
                            <span
                                style="width: 16px; height: 16px; border-radius: 50%; background-color: {{ colors[i] }}; margin-right: 10px;"></span>
                            <strong>{{ label }}</strong>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>


        <!-- Add this section to your existing code, ideally before the closing </div> of the row -->
        <div class="row mt-4">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">
                    <mat-card-content>
                        <!-- <h5 class="f-w-600">Applications Over Time</h5> -->
                        <mat-card-title class="mat-mdc-card-title"
                                style="text-align: center; margin-left: 20px; font-weight: 550;">Applications Over Time</mat-card-title>
                        <!--The content below is only a placeholder and can be replaced.-->
                        <div id="chart">
                            <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                [xaxis]="chartOptions1.xaxis" [stroke]="chartOptions1.stroke"
                                [tooltip]="chartOptions1.tooltip" [dataLabels]="chartOptions1.dataLabels"></apx-chart>
                        </div>

                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">
                    <mat-card-content>
                        <mat-card-title class="mat-mdc-card-title"
                                style="text-align: center; margin-left: 20px; font-weight: 550;">Applications by Source</mat-card-title>
                        <div id="chart">
                            <apx-chart
                              [series]="chartOptions2.series"
                              [chart]="chartOptions2.chart"
                              [labels]="chartOptions2.labels"
                              [responsive]="chartOptions2.responsive"
                            ></apx-chart>
                          </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">
                    <mat-card-content>
                        <h5 class="f-w-600">Card Title 3</h5>

                          
                    </mat-card-content>
                </mat-card>
            </div>
        </div>



        <div class="row mt-4">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">

                    <mat-card-title class="mat-mdc-card-title"
                                style="text-align: left; margin-left: 20px; margin-top: 20px; font-weight: 550;">Activity Logs</mat-card-title>
                    
                                <mat-card>
                                    <mat-card-content>
                                        <div class="table-container">
                                            <ng-container>
                                                <div class="table-section">
                                                    <table role="table">
                                                        <thead role="rowgroup">
                                                            <tr role="row">
                                                                
                                                                <th mat-header-cell class="font-light">Job Title</th>
                                                                <th mat-header-cell class="font-light">Action</th>
                                                                <th mat-header-cell class="font-light">time</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody role="rowgroup">
                                                            <tr role="row" mat-row class="values">

                                                                <td mat-cell>Software Engineer</td>
                                                                <td mat-cell>
                                                                    <span [ngClass]="{
                                                                        'status-submitted': application_status === 'created',
                                                                        'status-interviewing': application_status === 'updated',
                                                                        'status-rejected': application_status === 'deleted',
                                                                        'status-hired': application_status === 'fetched',
                                                                        
                                                                    }" class="text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                                        {{ application_status }}
                                                                    </span>
                                                                </td>
                                                                <td mat-cell>10:40</td>

                                                                
                                                            </tr>
                                                            <!-- Add more rows as needed -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                </mat-card>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px; ">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="col-md-4">
                            <!-- <h6>Recent Applications</h6> -->
                            <mat-card-title class="mat-mdc-card-title"
                                style="text-align: left; margin-left: 20px; font-weight: 550;">Recent
                                Applications</mat-card-title>
                        </div>
                        <div class="col-md-4 text-right" style="margin-top: 10px; margin-bottom: -20px;">
                            <div class="form-group" style="max-width: 100%; ">
                                <select id="employmentType" class="form-control custom-input" [(ngModel)]="StatusValue"
                                    (focus)="onStatusFocus()" (blur)="onStatusBlur()" style="height: 50px;">
                                    <option value="scheduled">scheduled</option>
                                    <option value="completed">completed</option>
                                    <option value="cancelled">cancelled</option>

                                </select>
                                <label for="customInput" [ngClass]="{'active': isStatusFocused || StatusValue}">Sort By
                                    Status</label>
                                <span class="outline"></span>
                            </div>
                        </div>
                    </div>
                    <mat-card>
                        <mat-card-content>
                            <div class="table-container">
                                <ng-container>
                                    <div class="table-section">
                                        <table role="table">
                                            <thead role="rowgroup">
                                                <tr role="row">
                                                    <th mat-header-cell class="font-light">Applicant</th>
                                                    <th mat-header-cell class="font-light">Job Title</th>
                                                    <th mat-header-cell class="font-light">Status</th>
                                                    <th mat-header-cell class="font-light">Date Applied</th>
                                                    <th mat-header-cell class="font-light">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody role="rowgroup">
                                                <tr role="row" mat-row class="values">
                                                    <td mat-cell>
                                                        <div class="applicant-info d-flex align-items-center">
                                                            <img src="assets/img/faces/user-1.jpg" alt="Applicant Image"
                                                                width="40" class="rounded-circle mr-2"
                                                                style="margin-right: 10px; margin-top: -5px;">

                                                            <span class="applicant-name">Yashas B Raj</span>
                                                        </div>
                                                    </td>
                                                    <td mat-cell>Software Engineer</td>
                                                    <td mat-cell>Submitted</td>
                                                    <td mat-cell>
                                                        <span mat-header-cell class="text-accent">10/01/1999</span>
                                                    </td>
                                                    <td mat-cell>
                                                        <button mat-button color="primary"
                                                            style="height: 30px; margin-bottom: 10px; background-color: #44b7f7; color: white; padding: 8px; border-radius: 7px; margin-right: 10px;">
                                                            View
                                                        </button>
                                                    </td>
                                                </tr>
                                                <!-- Add more rows as needed -->
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-card>
            </div>


            
        </div>
    </div>
</div>