<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="" style="background-color: #ecf2ff; border-radius: 10px; height: 40%;">
            <div class="row">
                <div class="col-sm-9" style=" padding: 30px;">
                    <h2 class="page-title m-0 f-s-20 f-w-600 m-b-16"
                        style="margin: 0 !important; margin-bottom: 40px; font-weight: bold; font-family: Plus Jakarta Sans, sans-serif; font-size: 25px !important;">
                        Welcome back {{user.full_name}}</h2>
                    <div class="d-flex align-items-top overflow-hidden" style="margin-top: 20px; color: #626263;">
                        Track Your Recruitment Process</div>
                    <br>
                    <button mat-button color="primary"
                        style="background-color: #5d87ff; color: white; padding: 4px; border-radius: 7px; margin-right: 10px; width: 100px;">
                        Refresh
                    </button>
                </div>
                <div class="col-sm-3 text-right position-relative">
                    <div class="breadcrumb-icon" style="overflow: hidden; ">
                        <img src="assets/img/card/welcome-bg2.png" alt="breadcrumb" width="240" height="210"
                            style="margin-bottom: -45px; margin-top: 10%; ">
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-primary shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-user-male.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-primary">Applications</h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-primary">{{applicationCount}}</h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-warning shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-briefcase.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-warning">Jobs</h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-warning">{{jobCount}}</h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-accent shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-mailbox.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-accent" style="color: #49beff!important;">Updates
                        </h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-accent" style="color: #49beff!important;">2
                        </h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-error shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-favorites.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-error" style="color: #fa896b!important">Email</h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-error" style="color: #fa896b!important">48+
                        </h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-success shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle"
                            src="/assets/img/icon/icon-speech-bubble.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-success">Interviewing</h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-success">{{applicationStatusCounts['interviewing']}}</h4>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 ng-star-inserted">
                <mat-card class="mat-mdc-card mdc-card bg-light-accent shadow-none text-center">
                    <mat-card-content class="mat-mdc-card-content p-32">
                        <img alt="users" width="40" class="rounded-circle" src="/assets/img/icon/icon-connect.svg">
                        <h6 class="f-w-600 m-t-8 mat-subtitle-2 text-accent" style="color: #49beff!important;">Contacts
                        </h6>
                        <h4 class="f-w-600 m-t-4 m-t-8 mat-subtitle-1 text-accent" style="color: #49beff!important;">48
                        </h4>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>



        <div class="row mt-4">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px; ">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="col-md-4">
                            <!-- <h6>Recent Applications</h6> -->
                            <mat-card-title class="mat-mdc-card-title"
                                style="text-align: left; margin-left: 20px; font-weight: 550;">Job
                                Status</mat-card-title>
                        </div>
                        <div class="col-md-4 text-right" style="margin-top: 10px; margin-bottom: -40px;">
                            <div class="form-group" style="max-width: 100%; ">
                                <select id="employmentType" class="form-control custom-input" [(ngModel)]="StatusValue"
                                    (focus)="onStatusFocus()" (blur)="onStatusBlur()" style="height: 50px;">
                                    <option value="scheduled">scheduled</option>
                                    <option value="completed">completed</option>
                                    <option value="cancelled">cancelled</option>

                                </select>
                                <label for="customInput" [ngClass]="{'active': isStatusFocused || StatusValue}">Sort By
                                    Status</label>
                                <span class="outline"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <mat-card>
                        <mat-card-content>
                            <div class="table-container" style="border: transparent; box-shadow: none;">
                                <ng-container>
                                    <div class="table-section">
                                        <table role="table">
                                            <thead role="rowgroup">
                                                <tr role="row">
                                                    <th mat-header-cell class="font-light">Job ID</th>
                                                    <th mat-header-cell class="font-light">Job Title</th>
                                                    <th mat-header-cell class="font-light">Status</th>
                                                    <th mat-header-cell class="font-light">Deadline</th>
                                                    <th mat-header-cell class="font-light">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody role="rowgroup" *ngFor="let job of filteredJobs let i = index">
                                                <tr role="row" mat-row class="values">
                                                    <td mat-cell>{{job.job_id}}</td>
                                                    <td mat-cell>{{job.title}}</td>
                                                    <!-- <td mat-cell>{{job.status}}</td> -->
                                                    <td mat-cell>
                                                        <span [ngClass]="{
                                                            'status-submitted': job.status === 'drafted',
                                                            'status-interviewing': job.status === 'deleted',
                                                            'status-rejected': job.status === 'closed',
                                                            'status-hired': job.status === 'open',
                                                            
                                                        }" class="text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                            {{ job.status }}
                                                        </span>
                                                    </td>
                                                    <td mat-cell>
                                                        <span mat-header-cell
                                                            class="text-accent">{{job.application_deadline}}</span>
                                                    </td>
                                                    <td mat-cell>
                                                        <button mat-button color="primary"
                                                        (click)="openApplicantModal(job)" style="height: 30px; margin-bottom: 10px; background-color: #44b7f7; color: white; padding: 8px; border-radius: 7px; margin-right: 10px;">
                                                            View Applications
                                                        </button>
                                                    </td>
                                                </tr>
                                                <!-- Add more rows as needed -->
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-card-content>

                    </mat-card>
                    <div class="mat-mdc-paginator-range-actions" style="margin-left: 500px;">

                        <div aria-live="polite" class="mat-mdc-paginator-range-label">{{ getCurrentJobRange() }}

                            <button mat-icon-button type="button" class="mdc-icon-button mat-mdc-button-base"
                                (click)="prevPage()" [disabled]="currentPage === 0" aria-label="Previous page">
                                <svg viewBox="0 0 24 24" class="mat-mdc-paginator-icon">
                                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                                </svg>
                            </button>
                            <button mat-icon-button type="button" class="mdc-icon-button mat-mdc-button-base"
                                (click)="nextPage()" [disabled]="(currentPage + 1) * itemsPerPage >= jobs.length"
                                aria-label="Next page">
                                <svg viewBox="0 0 24 24" class="mat-mdc-paginator-icon">
                                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                                </svg>
                            </button>
                        </div>

                    </div>
                </mat-card>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">


                    <div id="chart">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                            [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"></apx-chart>
                    </div>
                    <div class="chart-values" style="margin-top: -50px; text-align: left; padding-left: 10px;">
                        <div *ngFor="let label of chartOptions.labels; let i = index"
                            style="display: flex; align-items: center; margin: 5px 0;">
                            <span
                                style="width: 16px; height: 16px; border-radius: 50%; background-color: {{ colors[i] }}; margin-right: 10px;"></span>
                            <strong>{{ label }}</strong>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>


        <!-- Add this section to your existing code, ideally before the closing </div> of the row -->
        <div class="row mt-4">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">
                    <mat-card-content>
                        <!-- <h5 class="f-w-600">Applications Over Time</h5> -->
                        <mat-card-title class="mat-mdc-card-title"
                            style="text-align: center; margin-left: 20px; font-weight: 550;">Applications Over
                            Time</mat-card-title>
                        <!--The content below is only a placeholder and can be replaced.-->
                        <div id="chart">
                            <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                [xaxis]="chartOptions1.xaxis" [stroke]="chartOptions1.stroke"
                                [tooltip]="chartOptions1.tooltip" [dataLabels]="chartOptions1.dataLabels"></apx-chart>
                        </div>

                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">
                    <mat-card-content>
                        <mat-card-title class="mat-mdc-card-title"
                            style="text-align: center; margin-left: 20px; font-weight: 550;">Applications by
                            Source</mat-card-title>
                        <div id="chart">
                            <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                                [labels]="chartOptions2.labels" [responsive]="chartOptions2.responsive"></apx-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">
                    <mat-card-content>
                        <!-- <h5 class="f-w-600">Card Title 3</h5> -->
                        <main>
                            <div class="swiper">
                              <div class="swiper-wrapper">
                                <div
                                  class="swiper-slide"
                                  *ngFor="let slide of slides; let i = index"
                                  [ngClass]="slide.class"
                                  (click)="onSlideClick($event)">
                                  <div>
                                    <h2>{{ slide.title }}</h2>
                                    <p>{{ slide.description }}</p>
                                    <!-- <a [href]="slide.link" target="_blank">{{ slide.linkText }}</a> -->
                                  </div>
                                </div>
                              </div>
                              <div class="swiper-pagination"></div>
                            </div>
                          </main>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>



        <div class="row mt-4">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;">
                    <mat-card class="cardWithShadow">
                        <mat-card-content>
                            <mat-card-title class="mat-mdc-card-title"
                                style="text-align: left; margin-left: 10px; font-weight: 550;">Activity
                                Log</mat-card-title>
                            <br>
                            <div class="timeline m-t-24">
                                <ng-container *ngFor="let stat of stats; trackBy: trackByFn">
                                    <div class="timeline-item d-flex overflow-hidden">
                                        <div class="time text-right mat-subtitle-1 f-s-14">{{ stat.time }}</div>
                                        <div class="point d-flex align-items-center" style="margin-top: 10px;">
                                            <span class="timeline-badge border-{{ stat.color }} "></span>
                                            <span class="timline-border d-block" style="margin-top: 10px;"></span>
                                        </div>
                                        <div class="desc">
                                            <span *ngIf="stat.subtext" class="mat-subtitle-1 f-s-14 lh-20"
                                                style="margin-right: 10px;">
                                                <td mat-cell>
                                                    <span [ngClass]="{
                                                        'status-interviewing': stat.subtext === 'updated',
                                                        'status-rejected': stat.subtext === 'closed',
                                                        'status-hired': stat.subtext === 'created',
                                                        
                                                    }" class="text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                        {{ stat.subtext }}
                                                    </span>
                                                </td>
                                            </span>
                                            <span *ngIf="stat.title" class="mat-subtitle-1 f-s-14 f-w-600 lh-20">{{
                                                stat.title }}</span>
                                            <a *ngIf="stat.link" href="#"
                                                class="text-primary text-decoration-none mat-body-1">#ML-3467</a>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-card>
            </div>



            <div class="col-lg-8 col-md-8 col-sm-12">
                <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                    style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px; ">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="col-md-4">
                            <!-- <h6>Recent Applications</h6> -->
                            <mat-card-title class="mat-mdc-card-title"
                                style="text-align: left; margin-left: 20px; font-weight: 550;">Recent
                                Applications</mat-card-title>
                        </div>
                        <div class="col-md-4 text-right" style="margin-top: 10px; margin-bottom: -20px;">
                            <div class="form-group" style="max-width: 100%; ">
                                <select id="employmentType" class="form-control custom-input" [(ngModel)]="StatusValue"
                                    (focus)="onStatusFocus()" (blur)="onStatusBlur()" style="height: 50px;">
                                    <option value="scheduled">scheduled</option>
                                    <option value="completed">completed</option>
                                    <option value="cancelled">cancelled</option>

                                </select>
                                <label for="customInput" [ngClass]="{'active': isStatusFocused || StatusValue}">Sort By
                                    Status</label>
                                <span class="outline"></span>
                            </div>
                        </div>
                    </div>
                    <mat-card>
                        <mat-card-content>
                            <div class="table-container">
                                <ng-container>
                                    <div class="table-section">
                                        <table role="table">
                                            <thead role="rowgroup">
                                                <tr role="row">
                                                    <th mat-header-cell class="font-light">Applicant</th>
                                                    <th mat-header-cell class="font-light">Job Title</th>
                                                    <th mat-header-cell class="font-light">Status</th>
                                                    <th mat-header-cell class="font-light">Date Applied</th>
                                                    <th mat-header-cell class="font-light">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody role="rowgroup" *ngFor="let application of filteredApplication; let i = index">
                                                <tr role="row" mat-row class="values">
                                                    <td mat-cell>
                                                        <div class="applicant-info d-flex align-items-center">
                                                            <img src="assets/img/faces/user-1.jpg" alt="Applicant Image"
                                                                width="40" class="rounded-circle mr-2"
                                                                style="margin-right: 10px; margin-top: -5px;">

                                                            <span class="applicant-name">{{application.first_name}}</span>
                                                        </div>
                                                    </td>
                                                    <td mat-cell>{{application.job_title}}</td>
                                                    <td mat-cell>
                                                        <span [ngClass]="{
                                                            'status-submitted': application.application_status === 'submitted',
                                                            'status-interviewing': application.application_status === 'interviewing',
                                                            'status-rejected': application.application_status === 'rejected',
                                                            'status-shortlisted': application.application_status === 'shortlisted',
                                                            'status-hired': application.application_status === 'hired',
                                                            'status-accepted': application.application_status === 'accepted',
                                                            'status-offered': application.application_status === 'offered'
                                                        }" class="text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                            {{ application.application_status }}
                                                        </span>
                                                    </td>
                                                    <td mat-cell>
                                                        <span mat-header-cell class="text-accent">{{application.submitted_at}}</span>
                                                    </td>
                                                    <td mat-cell>
                                                        <button mat-button color="primary"
                                                            style="height: 30px; margin-bottom: 10px; background-color: #44b7f7; color: white; padding: 8px; border-radius: 7px; margin-right: 10px;">
                                                            View
                                                        </button>
                                                    </td>
                                                </tr>
                                                <!-- Add more rows as needed -->
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <div class="mat-mdc-paginator-range-actions" style="margin-left: 500px;">

                        <div aria-live="polite" class="mat-mdc-paginator-range-label">{{ getCurrentApplicationRange() }}

                            <button mat-icon-button type="button" class="mdc-icon-button mat-mdc-button-base"
                                (click)="prevPage()" [disabled]="currentPage === 0" aria-label="Previous page">
                                <svg viewBox="0 0 24 24" class="mat-mdc-paginator-icon">
                                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                                </svg>
                            </button>
                            <button mat-icon-button type="button" class="mdc-icon-button mat-mdc-button-base"
                                (click)="nextPage()" [disabled]="(currentPage + 1) * itemsPerPage >= jobs.length"
                                aria-label="Next page">
                                <svg viewBox="0 0 24 24" class="mat-mdc-paginator-icon">
                                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                                </svg>
                            </button>
                        </div>

                    </div>
                </mat-card>
            </div>



        </div>

        <div id="applicantModal" class="modal" style="display: none;">
            <div class="modal-content" style="display: flex;"> <!-- Use flex to allow side-by-side layout -->
                <div style="flex: 1; padding: 20px;"> <!-- Main content area -->
                    <div style="background-color: #ecf2ff; border-radius: 10px;">
                        <div class="row">
                            <div class="col-sm-9" style="padding: 30px;">
                                <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16"
                                    style="margin: 0 !important; margin-bottom: 40px; font-weight: bold; font-family: Plus Jakarta Sans, sans-serif; font-size: 20px !important;">
                                    Job Information</h4>

                                <div class="d-flex align-items-top overflow-hidden"
                                    style="margin-top: 20px; color: #626263;">
                                    Job Details
                                </div>
                            </div>
                            <div class="col-sm-3 text-right position-relative">
                                <div class="breadcrumb-icon" style="overflow: hidden; margin-left: 20px;">
                                    <img src="assets/img/card/ChatBc.png" alt="breadcrumb" width="210"
                                        style="margin-bottom: -75px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <span class="close-button" (click)="closeApplicantModal()">&times;</span>
                    <br>
                    <div class="p-16 bg-light-primary rounded" style="height: 50px;">
                        <h5 class="mat-subtitle-2 text-primary  align-items-center f-w-600"
                            style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 6px; font-size: large; ">
                            Job Information
                        </h5>
                    </div>
                    <br>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <mat-card class="mat-mdc-card mdc-card shadow-none text-center"
                            style="height: 100%; border: 1px solid #e5eaef; box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px; ">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="col-md-4">
                                    <!-- <h6>Recent Applications</h6> -->
                                    <mat-card-title class="mat-mdc-card-title"
                                        style="text-align: left; margin-left: 20px; font-weight: 550; ">Job
                                        Applications</mat-card-title>
                                </div>
                                <div class="col-md-4 text-right" style="margin-top: 10px; margin-bottom: -20px;">
                                    <div class="form-group" style="max-width: 100%; ">
                                        <select id="employmentType" class="form-control custom-input" [(ngModel)]="StatusValue"
                                            (focus)="onStatusFocus()" (blur)="onStatusBlur()" style="height: 50px;">
                                            <option value="scheduled">scheduled</option>
                                            <option value="completed">completed</option>
                                            <option value="cancelled">cancelled</option>
        
                                        </select>
                                        <label for="customInput" [ngClass]="{'active': isStatusFocused || StatusValue}">Sort By
                                            Status</label>
                                        <span class="outline"></span>
                                    </div>
                                </div>
                            </div>
                            <mat-card>
                                <mat-card-content>
                                    <div class="table-container">
                                        <ng-container>
                                            <div class="table-section">
                                                <table role="table">
                                                    <thead role="rowgroup">
                                                        <tr role="row">
                                                            <th mat-header-cell class="font-light">Applicant</th>
                                                            <th mat-header-cell class="font-light">Job Title</th>
                                                            <th mat-header-cell class="font-light">Status</th>
                                                            <th mat-header-cell class="font-light">Date Applied</th>
                                                            <th mat-header-cell class="font-light">GPT Score</th>
                                                            <th mat-header-cell class="font-light">NLP Score</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="rowgroup" *ngFor="let application of applications; let i = index">
                                                        <tr role="row" mat-row class="values">
                                                            <td mat-cell>
                                                                <div class="applicant-info d-flex align-items-center">
                                                                    <img src="assets/img/faces/user-1.jpg" alt="Applicant Image"
                                                                        width="40" class="rounded-circle mr-2"
                                                                        style="margin-right: 10px; margin-top: -5px;">
        
                                                                    <span class="applicant-name">{{application.first_name}}</span>
                                                                </div>
                                                            </td>
                                                            <td mat-cell>{{application.job_title}}</td>
                                                            <td mat-cell>
                                                                <span [ngClass]="{
                                                                    'status-submitted': application.application_status === 'submitted',
                                                                    'status-interviewing': application.application_status === 'interviewing',
                                                                    'status-rejected': application.application_status === 'rejected',
                                                                    'status-shortlisted': application.application_status === 'shortlisted',
                                                                    'status-hired': application.application_status === 'hired',
                                                                    'status-accepted': application.application_status === 'accepted',
                                                                    'status-offered': application.application_status === 'offered'
                                                                }" class="text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                                                                    {{ application.application_status }}
                                                                </span>
                                                            </td>
                                                            <td mat-cell>
                                                                <span mat-header-cell class="text-accent">{{application.submitted_at}}</span>
                                                            </td>
                                                            <td mat-cell>{{application.openai_score}}</td>
                                                            <td mat-cell>{{application.nlp_score}}</td>
                                                            <!-- <td mat-cell>
                                                                <button mat-button color="primary"
                                                                    style="height: 30px; margin-bottom: 10px; background-color: #44b7f7; color: white; padding: 8px; border-radius: 7px; margin-right: 10px;">
                                                                    View
                                                                </button>
                                                            </td> -->
                                                        </tr>
                                                        <!-- Add more rows as needed -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </ng-container>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </mat-card>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
