<div class="d-container">

  <section class="spacer">

    <div class="testimonial-section">
      <div class="testi-user-img">
        <div class="swiper-container gallery-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="u3" src="https://md-aqil.github.io/images/2091127763_1_1_1.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img class="u1" src="../../assets/img/faces/user-1.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img class="u2" src="../../assets/img/faces/hero.svg" alt="">
            </div>

            <div class="swiper-slide">
              <img class="u4" src="../../assets/img/faces/marc.jpg" alt="">
            </div>

          </div>
        </div>
      </div>
      <div class="user-saying">
        <div class="swiper-container testimonial">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper ">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="quote">
                <img class="quote-icon" src="../../assets/img/icon/quotes.png" alt="np">
                <p>
                  “The IT services provided by this company have been a game-changer for our business.
                  Their cybersecurity expertise has ensured that our systems are secure,
                  and we haven’t faced any major issues since they took over our IT infrastructure.“
                </p>
                <div class="name">-Anand-</div>
                <div class="designation">Chief Technology Officer, DataGuard Solutions</div>

              </div>
            </div>
            <div class="swiper-slide">
              <div class="quote">
                <img class="quote-icon" src="../../assets/img/icon/quotes.png" alt="no">

                <p style="color: black;">
                  “As a startup, we needed a reliable IT partner who could scale with us.
                  This company has provided exceptional support,
                  and their software solutions have helped us streamline our operations and reduce costs“
                </p>
                <div class="name">-Ramkishor Verma-</div>
                <div class="designation">Founder, Startup Co</div>

              </div>
            </div>
            <div class="swiper-slide">
              <div class="quote">
                <img class="quote-icon" src="../../assets/img/icon/quotes.png" alt="no">

                <p>
                  “TThe team at this IT company provided excellent service during our cloud migration.
                  They guided us every step of the way and ensured that everything went smoothly without any downtime.
                  Highly recommended!“
                </p>
                <div class="name">-Ramkishor Verma-</div>
                <div class="designation">Technical Architect</div>

              </div>
            </div>
            <div class="swiper-slide">
              <div class="quote">
                <img class="quote-icon" src="../../assets/img/icon/quotes.png" alt="no">

                <p>
                  “We’ve been working with this IT company for over a year now, and their solutions have transformed the
                  way we operate. From seamless system integrations to fast customer support, they truly know their
                  stuff.“
                </p>
                <div class="name">-Alex Green, CEO-</div>
                <div class="designation">Software Developer</div>

              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </section>
</div>