<div class="main-content">
    <div class="container-fluid">


        <div class="" style="background-color: #ecf2ff; border-radius: 10px; ">
            <div class="row">
                <div class="col-sm-9" style=" padding: 30px;">
                    <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16"
                        style="margin: 0 !important; margin-bottom: 10px; font-weight: bold; font-family: Plus Jakarta Sans, sans-serif; font-size: 20px !important;">
                        Apply for job </h4>
                    <div class="d-flex align-items-top overflow-hidden" style="margin-top: 20px; color: #626263;">
                        Search and apply for Job Openings</div>
                </div>
                <div class="col-sm-3 text-right position-relative">
                    <div class="breadcrumb-icon" style="overflow: hidden; margin-left: 20px;">
                        <img src="assets/img/card/ChatBc.png" alt="breadcrumb" width="210"
                            style="margin-bottom: -75px;">
                    </div>
                </div>
            </div>
        </div>
        <!-- <br>
        <br> -->
        <!-- <h1>{{jobs.title}}</h1> -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="card">
                    <div class="card-body">
                        <ul class="stepper">
                            <li [ngClass]="{ 'active': currentStep === 1 }" (click)="changeStep(1)">
                                <div class="row">

                                    <div class="col-md-12"
                                        style="font-family: Plus Jakarta Sans, sans-serif; font-size: large;">
                                        <span class="step-name">Apply for job </span>
                                    </div>
                                </div>

                            </li>

                        </ul>
                        <div *ngIf="currentStep === 1">
                            <div class="p-16 bg-light-primary rounded">
                                <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                                    style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 1px; font-size: large;">
                                    <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"
                                        _nghost-ng-c2605515766=""><svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                            <path d="M12 9h.01"></path>
                                            <path d="M11 12h1v4h1"></path>
                                        </svg>


                                    </i-tabler>Job Opening Information
                                </h5>
                            </div>
                            <div class="job-info">
                                <!-- <h1 class="text-center mt-5 mb-3" style="font-size: 26px; line-height: 3.231rem; color: GREY;">JOB INFO</h1> -->
                                <div class="job-details">
                                    <div class="row">
                                        <span class="label">Job Identification</span>
                                        <span class="value">{{jobs?.job_id}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="label">Job Title</span>
                                        <span class="value">{{jobs?.title}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="label">Posting Date</span>
                                        <span class="value">{{jobs?.created_at}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="label">Salary</span>
                                        <span class="value">{{jobs?.salary_range}}</span>
                                    </div>
                                    <div class="row">
                                        <span class="label">Locations</span>
                                        <span class="value">
                                            <i class="fa-solid fa-location-dot"> &nbsp; </i>{{jobs?.location}} India
                                        </span>
                                    </div>
                                    <div class="row">
                                        <span class="label">Experience (In Years)</span>
                                        <span class="value">{{jobs?.experience}}</span>
                                    </div>

                                </div>
                            </div>

                            <br>






                            <div class="step-content">
                                <div *ngIf="currentStep === 1">

                                    <div class="p-16 bg-light-primary rounded">
                                        <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                                            style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 1px; font-size: large;">
                                            <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"
                                                _nghost-ng-c2605515766=""><svg xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                                    <path d="M12 9h.01"></path>
                                                    <path d="M11 12h1v4h1"></path>
                                                </svg>


                                            </i-tabler>Candidate Details
                                        </h5>
                                    </div>
                                    <br>

                                    <!-- the below commented is jobid and candidate id -->

                                    <!-- <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onJobFocus()" (blur)="onJobBlur()"
                                                [placeholder]="isJobIDFocused ? '' : ''" [(ngModel)]="JobIDValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isJobIDFocused || JobIDValue}">job ID</label>
                                            <span class="outline"></span>
                                        </div>
 
                                    </div>
 
                                    <div class="col-md-6">
 
                                        <div class="form-group" style="margin-top: 5px;">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onCandidateFocus()" (blur)="onCandidateBlur()"
                                                [placeholder]="isCandidateIDFocused ? ' ' : ''"
                                                [(ngModel)]="CandidateIDValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isCandidateIDFocused || CandidateIDValue}">Candidate ID
                                                </label>
                                            <span class="outline"></span>
                                        </div>
 
 
                                    </div> -->
                                </div>


                                <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onFNameFocus()" (blur)="onFNameBlur()"
                                                [placeholder]="isFNameFocused ? '' : ''" [(ngModel)]="FNameValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isFNameFocused || FNameValue}">First Name</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onlNameFocus()" (blur)="onlNameBlur()"
                                                [placeholder]="isLNameFocused ? '' : ''" [(ngModel)]="LNameValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isLNameFocused || LNameValue}">last Name</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onEmailFocus()" (blur)="onEmailBlur()"
                                                [placeholder]="isEmailFocused ? '' : ''" [(ngModel)]="EmailValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isEmailFocused || EmailValue}">Email</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 5px;">
                                            <input type="phone" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onPhoneFocus()" (blur)="onPhoneBlur()"
                                                [placeholder]="isPhoneFocused ? '' : ''" [(ngModel)]="PhoneValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isPhoneFocused || PhoneValue}">Phone
                                                Number</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onCurrentCTCFocus()" (blur)="onCurrentCTCBlur()"
                                                [placeholder]="isCurrentCTCFocused ? '' : ''"
                                                [(ngModel)]="CurrentCTCValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isCurrentCTCFocused || CurrentCTCValue}">Current
                                                CTC</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 5px;">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onExpectedCTCFocus()" (blur)="onExpectedCTCBlur()"
                                                [placeholder]="isExpectedCTCFocus ? '' : ''"
                                                [(ngModel)]="ExpectedCTCValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isExpectedCTCFocus || ExpectedCTCValue}">Expected
                                                CTC
                                            </label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onExperienceFocus()" (blur)="onExperienceBlur()"
                                                [placeholder]="isExperienceFocused ? '' : ''"
                                                [(ngModel)]="ExperienceValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isExperienceFocused || ExperienceValue}">Experience</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 5px;">
                                            <input type="file" class="form-control custom-input" id="customInput"
                                                (change)="onFileSelected($event)" #customInput (focus)="onResumeFocus()"
                                                (blur)="onResumeBlur()" [placeholder]="isResumeFocused ? '' : ''"
                                                [(ngModel)]="ResumeValue" (change)="onFileSelected($event)" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isResumeFocused || ResumeValue}">
                                                Resume</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onSkillKnownFocus()" (blur)="onSkillKnownBlur()"
                                                [placeholder]="isSkillKnownFocused ? '' : ''"
                                                [(ngModel)]="SkillKnownValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isSkillKnownFocused || SkillKnownValue}">Skills</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>


                                </div>




                            </div>
                            <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>

                            <div class="text-center">
                                <button mat-button color="primary"
                                    style="background-color: #13deb9; color: white; height: 35px; padding: 8px; border-radius: 7px; margin-right: 10px;"
                                    (click)="submitData(jobs)">
                                    Submit
                                </button>
                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="applicationMessage" class="alert"
            [ngClass]="{'success-message': !isErrorMessage, 'error-message': isErrorMessage}">

            <span>{{ applicationMessage }}</span>
            <button (click)="dismissError()">X</button>
        </div>

    </div>