<div class="side-nav-content">
    <div class="d-flex align-items-center justify-content-between">
        <app-branding class="d-flex align-items-center"> <!-- Added d-flex for branding -->
          <div class="branding">
            <a href="/">
              <img src="./assets/img/hexa/logo1.png" alt="Company Logo" class="align-middle m-2" style="height: 40px; width: 40px;">
            </a>
          </div>
      
          <div class="branding">
            <a href="/">
              <img src="./assets/img/hexa/logonameblack.svg" alt="Company Logo" class="align-middle m-2" 
              style="size: 20px; height: 60px; width:auto; ">
            </a>
          </div>
        </app-branding>
      </div>
      
    <!-- <br> -->
    <div class="sidebar-background"></div>
    <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
        <!-- Display grouped items -->
        <ng-container *ngFor="let heading of headings">
            <li class="nav-heading" style="font-size: x-small;  text-align: center; width: 20%;  list-style: none; margin-bottom: 10px; margin-top: 10px; color: gray;">
                {{ heading }}
            </li>
            <ng-container *ngFor="let item of groupedItems[heading]">
                <li class="nav-list-item" (click)="navigateToPage(item)" [routerLink]="item.route" [class.selected]="selectedItem === item">
                    <i [class]="item.icon" [ngStyle]="{'color': selectedItem === item ? 'white' : 'inherit'}"></i>
                    <span [ngStyle]="{'color': selectedItem === item ? 'white' : 'inherit'}" *ngIf="sideNavStatus">
                        <a>{{ item.name }}</a>
                    </span>
                </li>
            </ng-container>
        </ng-container>
    </ul>
    <!-- Footer Section -->
    <div class="sidebar-footer">
        <li class="nav-list-item" *ngFor="let item of listEnd" (click)="navigateToPage(item)" [routerLink]="item.route"
            [class.selected]="selectedItem === item">
            <i [class]="item.icon"></i>
            <span *ngIf="sideNavStatus">
                <a>{{ item.name }}</a>
            </span>
        </li>
    </div>
</div>